@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

header {
  padding: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 80px;

  #nav-laptop {
    display: none;
  }

  .logo {
    align-self: center;
  }

  #nav-phone > ul {
    gap: 24px;
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translate(-50%);
    padding: 40px 24px 300px 24px;
    background-color: #2c2830;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index: 3;

    a {
      text-decoration: none;
      li {
        list-style: none;
        font-family: "Karla", sans-serif;
        font-size: 20px;
        letter-spacing: 1.36px;
        color: #fff;

        button {
          background-color: transparent;
          list-style: none;
          padding: 12px 70px;
          border: 1.5px solid white;
          font-family: "Karla", sans-serif;
          font-weight: 700;
          font-size: 20px;
          letter-spacing: 1.36px;
          color: #fff;

          &:hover {
            background-color: #fff;
            color: #2c2830;
          }
        }
      }
    }
  }

  #bckgr-nav {
    position: absolute;
    z-index: 2;
    top: 312px;
    right: 0;
  }

  #nav-close {
    display: none;
  }

  #burger:hover {
    display: none;
  }

  #burger:hover ~ ul {
    display: flex;
  }
  nav ul:hover {
    display: flex;
  }

  #burger:hover ~ #nav-close {
    display: block;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-section {
    background-color: #2d2641;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 93px;
    padding-bottom: 93px;
    position: relative;
    margin-bottom: 140px;

    div {
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.67px;
        color: #fff;
        text-align: center;
      }

      p {
        font-family: "Karla", sans-serif;
        max-width: 327px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        margin: 16px 0 32px 0;
        text-align: center;
      }

      button {
        background-color: transparent;
        list-style: none;
        padding: 13px 28.5px;
        border: 1.5px solid white;
        font-family: "Karla", sans-serif;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 1.36px;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: #2c2830;
        }
      }
    }

    #section-top-left-bck {
      position: absolute;
      top: 173px;
      left: 0;
    }

    #section-top-right-bck {
      position: absolute;
      bottom: -198px;
      right: 0;
    }

    #family {
      z-index: 2;
    }
  }

  .mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;

    #line {
      width: 150px;
      border-top: 1px solid #c396c6;
      margin-bottom: 40px;
    }

    h2 {
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-size: 48px;
      letter-spacing: -0.67px;
      color: #2c2830;
      margin-bottom: 80px;
    }

    .mid-cards {
      display: flex;
      flex-direction: column;
      gap: 56px;

      .card {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;

        img {
          width: 86px;
        }
        h3 {
          font-family: "DM Serif Display", serif;
          font-weight: 400;
          font-size: 28px;
          letter-spacing: -0.39px;
          color: #2c2830;
          margin: 32px 0 16px 0;
        }

        p {
          font-family: "Karla", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: #837d88;
          max-width: 327px;
        }
      }
    }
  }

  .bot-section {
    width: 87.2%;
    background-color: #2d2641;
    padding: 72px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 140px;

    h2 {
      font-family: "DM Serif Display", serif;
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -0.56px;
      color: #fff;
      max-width: 279px;
      text-align: center;
      margin-bottom: 40px;
    }
    button {
      background-color: transparent;
      list-style: none;
      padding: 13px 28.5px;
      border: 1.5px solid white;
      font-family: "Karla", sans-serif;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 1.36px;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: #2c2830;
      }
    }

    #bot-section-backgr {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

footer {
  padding: 88px 25px;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;

  .footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-bottom: 40px;
    z-index: 2;
    position: relative;

    img {
      max-width: 112px;
    }

    .social {
      display: flex;
      gap: 16px;
      align-items: center;

      img {
        width: 24px;
      }
    }
  }

  .footer-bot {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .footer-card {
      display: flex;
      flex-direction: column;
      gap: 36px;
      text-align: center;

      h4 {
        font-family: "Karla", sans-serif;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 1.5px;
        color: #837d88;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        list-style: none;

        a {
          text-decoration: none;

          li {
            font-family: "Karla", sans-serif;
            font-weight: 700;
            font-size: 13px;
            letter-spacing: 1.5px;
            color: #2d2641;
          }
        }
      }
    }
  }

  #footer-bckgr {
    position: absolute;
    top: 0;
    max-width: 375px;
    left: 0;
  }
}

@media (min-width: 1000px) {
  header {
    padding: 20px 165px;

    #nav-phone {
      display: none;
    }

    #nav-laptop {
      display: block;

      ul {
        display: flex;
        gap: 25px;
        list-style: none;
        align-items: center;

        a {
          text-decoration: none;
        }

        li {
          font-family: "Karla", sans-serif;
          font-weight: 700;
          font-size: 13px;
          letter-spacing: 1.5px;
          color: #837d88;

          &:hover {
            color: #2c2830;
            cursor: pointer;
          }
        }
        button {
          background-color: transparent;
          list-style: none;
          padding: 13px 28.5px;
          border: 1.5px solid #2c2830;
          font-family: "Karla", sans-serif;
          font-weight: 700;
          font-size: 13px;
          letter-spacing: 1.36px;
          color: #2c2830;

          &:hover {
            background-color: #2c2830;
            color: #fff;
          }
        }
      }
    }
  }

  main {
    .top-section {
      flex-direction: row-reverse;
      width: 100%;
      position: relative;
      justify-content: start;
      padding: 169px 165px;
      margin-bottom: 305px;

      #family {
        position: absolute;
        top: 105px;
        right: 165px;
        width: 540px;
      }

      div {
        align-items: start;
        h1 {
          text-align: unset;
        }
        p {
          max-width: 540px !important;
          text-align: start;
          font-size: 16px;
        }
      }

      #section-top-left-bck {
        top: 414px;
        left: -70px;
      }

      #section-top-right-bck {
        top: 0;
        width: 200px;
        z-index: 3;
      }
    }

    .mid-section {
      align-items: start;

      .mid-cards {
        flex-direction: row;
        .card {
          align-items: start;
          text-align: start;
        }
      }
    }

    .bot-section {
      padding: 69px 80px;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;

      h2 {
        max-width: unset;
        text-align: start;
      }

      #bot-section-backgr {
        width: 300px;
      }
    }
  }

  footer {
    padding: 64px 165px;
    .footer-top {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-bot {
      flex-direction: row;
      gap: unset;
      justify-content: space-between;
      padding-right: 180px;
    }
    #footer-bckgr {
      position: absolute;
      top: 0;
      max-width: unset;
      left: 0;
    }
  }
}
